.numberInputLabel {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.numberInput {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-right: 8px;
}

.inputWithUnit {
    display: flex;
    align-items: center;
}

.unit {
    margin-left: 5px;
}